<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{{ url_for('static', path='/css/prism.css') }}" rel="stylesheet" />-
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeShare | Feed</title>
  </head>

  <body>
    {% include 'components/navbar.html' %}

    <!-- TODO: Change static data to the one passed to the template-->
    <div class="container max-w-md md:max-w-2xl mx-auto mt-24 px-4">
      <!-- Create Post Button -->
      <div class="flex items-center mx-auto bg-white rounded-xl border border-neutral-400 m-3 p-4">
        <img class="h-10 w-10 rounded-full object-cover inline" src="{{current_user.pictureUrl}}" alt="Profile Picture">
        <div class="font-semibold text-base ml-2"><a href="/user/{{current_user.login}}">{{current_user.username}}</a></div>
        <button id="create-post-button" class="ml-auto px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">New post</button>
      </div>

      <!-- Create Post Section -->
      <div id="create-post-section" class="mx-auto bg-white rounded-xl border border-neutral-400 m-3 p-4" style="display: none;">
        <form id="create-post-form" action="/feed", method="POST">
          <!-- Post Description -->
          <div>
            <label for="description" class="block text-sm font-medium text-gray-700">Post Description</label>
            <textarea id="description" name="description" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"></textarea>
          </div>

          <!-- Programming Language -->
          <div class="mt-4">
            <label for="programming_language" class="block text-sm font-medium text-gray-700">Programming Language</label>
            <select id="programming_language" name="programming_language" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent">
              <option value="">Select a language</option>
              <option value="cpp">C++</option>
              <option value="python">Python</option>
              <option value="java">Java</option>
              <option value="csharp">C#</option>
              <!-- Add more options as needed -->
            </select>
          </div>

          <!-- Code -->
          <div class="mt-4">
            <label for="code" class="block text-sm font-medium text-gray-700">Code</label>
            <textarea id="code" name="code" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"></textarea>
          </div>

          <!-- Output -->
          <div class="mt-4">
            <label for="output" class="block text-sm font-medium text-gray-700">Output</label>
            <input type="checkbox" id="output-checkbox" name="output-checkbox" class="mt-1 block rounded-md border-gray-300 shadow-sm focus:ring-0 focus:ring-offset-0">
            <textarea id="output" name="output" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent" disabled></textarea>
          </div>
          <!-- Post Button -->
          <div class="mt-4">
            <button type="submit" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Post
            </button>
          </div>
        </form>
      </div>

      {% for (author, post, is_liked, like_count) in posts %}
        {% include 'components/post.html' %}
      {% endfor %}

    </div>
    <script src="{{ url_for('static', path='/js/feed.js') }}"></script>
    <script src="{{ url_for('static', path='/js/prism.js') }}"></script> 
    <script src="{{ url_for('static', path='js/post.js') }}"></script>
  </body>
</html>