<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{{ url_for('static', path='/css/prism.css') }}" rel="stylesheet" /> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeShare | Feed</title>
  </head>

  <body>
    {% include 'components/navbar.html' %}

    <!-- TODO: Change data to that passed to the template -->
    <div class="container max-w-md md:max-w-2xl mx-auto mt-24 px-4">
        <a href="#" onclick="goBack()" class="ml-3 mb-3 inline-block text-xs"><i class="fas fa-arrow-left"></i> Back</a>
        
        <div id="{{post.post_id}}" class="post-container mx-auto bg-white rounded-xl border border-neutral-400 mb-3 p-4">
            <!-- Post Header -->

            <div class="flex justify-between">
                <div class="flex items-center">
                    <img class="h-11 w-11 rounded-full object-cover" src="{{author.pictureUrl}}" alt="Profile Picture">
                    <div class="ml-4">
                        <div class="font-bold text-lg">{{author.username}}</div>
                        <div class="text-gray-600 text-sm date-posted">{{post.date}}</div>
                    </div>
                </div>

                {% if post.author_id == current_user.user_id %}
                    <div class="relative inline-block text-left">
                        <a id="settings-icon-{{post.post_id}}" class="settings-icon text-gray-600 hover:text-indigo-600">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu origin-top-right absolute right-0 mt-2 w-36 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
                            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                <a class="edit-button block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <a href="/post/{{post.post_id}}/delete" class="block px-4 py-2 text-sm text-red-600 hover:bg-red-100 hover:text-red-900" role="menuitem">
                                    <i class="fas fa-trash"></i> Delete
                                </a>
                            </div>
                        </div>

                        <!-- Save button -->
                        <button class="save-button text-gray-600 hover:text-indigo-600 hidden">
                            <i class="fas fa-save"></i> Save
                        </button>
                    </div>
                {% endif %}
            </div>
        
            <!-- Post Content -->
            <div class="my-4">
                <p class="description text-gray-800 post-description">{{ post.description }}</p>
                <div class="rounded mt-4 p-4 text-white" style="background-color: #404040;">
                    <div class="inline-block rounded px-2 py-1 text-sm font-bold bg-neutral-800 text-neutral-400">{{ post.lang }}</div>
                    <pre class="code custom-scrollbar rounded mt-2 p-4 bg-neutral-800 font-mono post-code"><code class="language-{{ post.lang }}">{{ post.code }}</code></pre>
                    {% if post.output %}
                    <pre class="output rounded mt-2 p-4 bg-neutral-800 post-output">{{ post.output }}</pre>
                    {%endif%}
                </div>
            </div>
        
            <!-- Post Footer -->
            <div class="flex items-center justify-start space-x-4">
                {% if is_liked %}
                <a href="/{{post.post_id}}/unlike" class="like text-gray-600 hover:text-indigo-600"><i class="fas fa-heart"></i> {{like_count}}</a>
                {% else %}
                <a href="/{{post.post_id}}/like" class="like text-gray-600 hover:text-indigo-600"><i class="far fa-heart"></i> {{like_count}}</a>
                {% endif %}
                <button class="share-button text-gray-600 hover:text-indigo-600" data-post-link="http://127.0.0.1:8000/feed/{{ post.post_id }}"><i class="far fa-share-square"></i> Share</button>
                <div id="tooltip" style="position: absolute; display: none; background: #404040; color: #FFFFFF; padding: 5px; border-radius: 5px;">Copied!</div>
            </div>
        
            <div class="comments mt-4">
                <h3 class="text-lg font-semibold mb-2">Comments</h3>
                <form action="/feed/{{post.post_id}}/comment" method="post" class="my-4">
                    <textarea name="content" placeholder="Write a comment..." class="w-full p-2 rounded focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"></textarea>
                    <button type="submit" class="mt-2 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Post Comment</button>
                </form>
                {% for comment_author, comment in comments %}
                <div class="comment bg-gray-100 rounded-lg p-3 mb-2 flex items-start">
                    <img class="h-9 w-9 rounded-full object-cover mr-2" src="{{comment_author.pictureUrl}}" alt="Profile Picture">
                    <div>
                        <div class="font-bold text-sm">{{comment_author.username}}</div>
                        <p class="text-gray-800 text-sm">{{comment.content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
        <script>
            document.querySelectorAll('.share-button').forEach(button => {
            button.addEventListener('click', function(event) {
                var postLink = this.getAttribute('data-post-link');
                var tempInput = document.createElement('input');
                tempInput.style = "position: absolute; left: -1000px; top: -1000px";
                tempInput.value = postLink;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand('copy');
                document.body.removeChild(tempInput);
            
                // Show tooltip
                var tooltip = document.getElementById('tooltip');
                tooltip.style.left = event.pageX + 'px'; // Position the tooltip at the mouse position
                tooltip.style.top = (event.pageY - 30) + 'px'; // Position the tooltip 30px above the mouse position
                tooltip.style.display = 'block'; // Show the tooltip
            
                // Hide tooltip after 1 second
                setTimeout(() => {
                tooltip.style.display = 'none';
                }, 500);
            });
            });
        </script>

        <script src="{{ url_for('static', path='/js/dateparser.js') }}"></script>
        <script src="{{ url_for('static', path='/js/prism.js') }}"></script>
        <script src="{{ url_for('static', path='/js/post.js') }}"></script>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>

        <style>
            .custom-scrollbar::-webkit-scrollbar {
                height: 0.5em;
            }
        
            .custom-scrollbar::-webkit-scrollbar-track {
                background-color: #404040;
            }
        
            .custom-scrollbar::-webkit-scrollbar-thumb {
                background-color: #606060;
                border-radius: 0.15em;
            }
        </style>
  </body>
</html>