<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/prism.css') }}" rel="stylesheet"/> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CodeShare | {{ user.login }}</title>
      </head>
      <body>
        {% include 'components/navbar.html' %}

        <div class="container mx-auto px-4 max-w-4xl mt-24">
            <div class="grid grid-cols-4 gap-4">
                <div class="col-span-1">
                    <div class="settings-container col-span-1 bg-white border border-neutral-400 rounded-lg p-4">
                        <div style="text-align: right;">
                            {% if user.login == current_user.login %}
                                <a href="/settings" class="settings-icon">
                                    <i class="fas fa-cog"></i>
                                </a>
                            {% endif %}
                        </div>
                        <img class="mx-auto rounded-full p-4" src="{{ user.pictureUrl }}" alt="{{ user.login }}'s profile picture">
                        <h2 class="text-xl font-bold mt-4">{{ user.username }}</h2>
                        <p class="mt-2 text-sm text-gray-500">
                            <a href="#" id="followersLink">{{followers|length}} followers</a> | 
                            <a href="#" id="followingLink">{{followed|length}} following</a>
                        </p>
                        <p class="mt-2 text-sm">{% if user.bio %}{{user.bio}}{%endif%}</p>
                        {% if user.login != current_user.login %}
                        <div style="text-align: right;">
                            {% if not follows %}
                                <form action="/user/{{ user.login }}/follow" method="post">
                                    <input type="submit" value="Follow" class="mt-1 ml-auto px-2 py-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                </form>
                            {% else %}
                                <form action="/user/{{ user.login }}/unfollow" method="post">
                                    <input type="submit" value="Unfollow" class="mt-1 ml-auto px-2 py-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-stone-400 hover:bg-stone-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-stone-300">
                                </form>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-span-3">
                    <!-- POST -->
                    {% for (author, post, is_liked, like_count) in posts %}
                        {% include 'components/post.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="modal" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
            <div style="background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 500px; height: 300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <!-- Tabs and Close button -->
                <div class="flex justify-between items-center border-b-2 border-gray-200 pb-1 relative">
                    <!-- Tabs -->
                    <div class="flex justify-center space-x-4">
                        <button id="followersTab" class="py-2 px-4 font-semibold rounded-lg text-neutral-500">Followers</button>
                        <button id="followingTab" class="py-2 px-4 font-semibold rounded-lg text-indigo-500">Following</button>
                    </div>
                    <!-- Close button -->
                    <button id="close" class="text-gray-400 hover:text-gray-500">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <!-- Followers Section -->
                <div id="followersSection" class="hidden p-4">
                    <!-- List of followers <TODO> -->
                    <!-- Each follower -->
                    {% for follower in followers %}
                        <div class="flex items-center justify-between space-x-4 mb-2">
                            <div class="flex items-center">
                                <img src="{{follower.pictureUrl}}" alt="{{follower.login}}" class="w-9 h-9 rounded-full">
                                <a href="/user/{{follower.login}}" class="text-sm font-medium text-gray-900 ml-3">{{ follower.username }}</a>
                            </div>
                            {% if current_user.login == follower.login %}
                                <!-- No action for current user -->
                            {% elif follower in users_followed_by_current_user %}
                                <form action="/user/{{ follower.login }}/unfollow" method="post">
                                    <input type="submit" value="Unfollow" class="text-sm font-medium text-indigo-600">
                                </form>
                            {% else %}
                                <form action="/user/{{ follower.login }}/follow" method="post">
                                    <input type="submit" value="Follow" class="text-sm font-medium text-indigo-600">
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <!-- Following Section -->
                <div id="followingSection" class="hidden p-4">
                    <!-- List of following -->
                    <!-- Each following -->
                    {% for following in followed %}
                        <div class="flex items-center justify-between space-x-4 mb-2">
                            <div class="flex items-center">
                                <img src="{{following.pictureUrl}}" alt="{{following.login}}" class="w-9 h-9 rounded-full">
                                <a href="/user/{{following.login}}" class="text-sm font-medium text-gray-900 ml-3">{{following.username}}</a>
                            </div>
                            {% if current_user.login == following.login %}
                                <!-- No action for current user -->
                            {% elif following not in users_followed_by_current_user %}
                                <form action="/user/{{ following.login }}/follow" method="post">
                                    <input type="submit" value="Follow" class="text-sm font-medium text-indigo-600">
                                </form>
                            {% else %}
                                <form action="/user/{{ following.login }}/unfollow" method="post">
                                    <input type="submit" value="Unfollow" class="text-sm font-medium text-indigo-600">
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <style>
            .settings-container {
                position: relative;
            }
            
            .settings-icon {
                position: absolute;
                top: 0.8rem;
                right: 0.8rem;
            }
        </style>
        <script src="{{ url_for('static', path='/js/user.js') }}"></script>
        <script src="{{ url_for('static', path='/js/prism.js') }}"></script> 
    </body>
</html>
