<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CodeShare | Settings</title>
    </head>
    <body>
        {% include 'components/navbar.html' %}

        <div class="container mx-auto px-4 max-w-2xl mt-24">
            <a href="/user/{{user.login}}" class="mb-2 inline-block text-xs"><i class="fas fa-arrow-left"></i> Back</a>
            <h1 class="text-2xl font-bold mb-8">Settings</h1>
            <form action="/settings" method="post" class="bg-white rounded">
                <div class="mb-3">
                    <label class="block text-gray-700 text-sm font-bold mb-3" for="username">Username:</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent" id="username" type="text" name="username">
                </div>
                <div class="mb-3">
                    <label class="block text-gray-700 text-sm font-bold mb-3" for="bio">Bio:</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent" id="bio" type="text" name="bio">
                </div>
                <div class="mb-3">
                    <label class="block text-gray-700 text-sm font-bold mb-3" for="pic">Picture url:</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent" id="pic" type="text" name="pic">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-3" for="password">Password:</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent" id="password" type="text" name="password">
                </div>
                <div class="flex items-center justify-between">
                    <button class="px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </body>
</html>