<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CodeShare | {{ login }}</title>
    </head>
    <body>
        {% include 'components/navbar.html' %}

        <div class="container mx-auto px-4 max-w-6xl mt-24">
            <h1 class="text-2xl font-bold mb-4">Settings</h1>

            <form action="/user/{{ login }}/settings" method="post">
                <label for="login">Login:</label><br>
                <input type="text" id="login" name="login"><br>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="bio">Bio:</label><br>
                <textarea id="bio" name="bio"></textarea><br>
                <label for="pic">Profile Picture URL:</label><br>
                <input type="text" id="pic" name="pic"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>