<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
        <a href="/feed" class="-m-1.5 p-1.5">
            <span class="sr-only">CodeShare</span>
            <img class="h-6 w-auto" src="/static/images/logo.png" alt="">
        </a>
        </div>
        <div class="lg:flex lg:flex-1 lg:justify-end">
            {% if 'access_token' in request.cookies %}
                <a href="/logout" class="text-sm font-semibold leading-6 text-gray-900">Log out <span aria-hidden="true">&rarr;</span></a>
            {% else %}
                <a href="/login" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
            {% endif %}
        </div>
    </nav>
</header>