<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">CodeShare</span>
            <img class="h-6 w-auto" src="/static/images/logo.png" alt="">
        </a>
        </div>
        {% if 'access_token' in request.cookies and request.path not in ['/', '/login', '/register', '/settings'] %}
        <div class="flex lg:flex-1 lg:justify-center ">
            <div class="relative">
                <form id="search-form" class="flex items-center px-1.5 rounded-t rounded-b border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                    <input id="search-input" type="text" name="username" placeholder="Search users" required class="border-none focus:outline-none focus:ring-0">
                    <button type="submit" class="px-3 py-0.75 rounded-r-md text-gray-300">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div id="search-results" class="absolute bg-white w-full z-10 border-gray-300"></div>
            </div>
        </div>
        {% endif %}
        <div class="lg:flex lg:flex-1 lg:justify-end">
            {% if 'access_token' in request.cookies %}
                <a href="/feed" class="text-sm font-semibold leading-6 text-gray-900 mr-8">Page</a>
                <a href="/user/{{current_user.login}}" class="text-sm font-semibold leading-6 text-gray-900 mr-8">Profile</a>
                <a href="/logout" class="text-sm font-semibold leading-6 text-gray-900 mr-8">Log out <span aria-hidden="true">&rarr;</span></a>
            {% else %}
                <a href="/login" class="text-sm font-semibold leading-6 text-gray-900 mr-8">Log in <spasn aria-hidden="true">&rarr;</span></a>
            {% endif %}
        </div>
    </nav>
</header>

<style>
    .user {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .user img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user a {
        display: flex;
        align-items: center;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $("#search-input").on('input', function(){
          var query = $(this).val();
          if (query.length > 0) {
              $.ajax({
                  url: '/search/?username=' + query,
                  dataType: 'json',
                  success: function(data) {
                      // Clear previous results
                      $('#search-results').empty();
                  
                      // Add new results
                      if (data.length > 0) {
                          data.forEach(function(user) {
                              $('#search-results').append(`
                                  <div class="user flex items-center p-2">
                                      <a href="/user/${user.login}" class="flex items-center">
                                          <img class="w-5 h-5 rounded-full mr-2" src="${user.pictureUrl}" alt="${user.username}'s profile picture">
                                          <p>${user.username}</p>
                                      </a>
                                  </div>
                              `);
                          });
                  
                          // Add border to search results
                          $('#search-results').addClass('border-b border-l border-r border-gray-300');
                  
                          // Change form border
                          $('#search-form').removeClass('rounded-b');
                      } else {
                          // Remove border from search results
                          $('#search-results').removeClass('border-b border-l border-r border-gray-300');
                  
                          // Change form border back
                          $('#search-form').addClass('rounded-b');
                      }
                  }
              });
          } else {
              $('#search-results').empty().removeClass('border-b border-l border-r border-gray-300');
              $('#search-form').addClass('rounded-b');
          }
      });
    
      // Clear search results and reset form border when mouse click occurs outside search results or form
      $(document).on('mousedown', function(event) {
          if (!$(event.target).closest('#search-form, #search-results').length) {
              $('#search-results').empty().removeClass('border-b border-l border-r border-gray-300');
              $('#search-form').removeClass('rounded-t').addClass('rounded-l');
          }
      });
  });
  </script>